<html>

<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Recetas PDF</title>
</head>


<body>
    <div class="w3-container">
        <h1 class="w3-card w3-center w3-green"> Reporte de Recetas publicadas </h1>
        <h3 class=" w3-left"> Creado por el usuario : {{usuario}}</h3><br><br><br>

        <table style="width: 90%;">
            <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
            <tr class="w3-gray">

                <td style="color:blue; width: 70px;">
                    Titulo
                </td>

                <td style="color:blue; width: 150px;">
                    Autor
                </td>

                <td style="color:blue; width: 500px;">
                    Resumen
                </td>

                <td style="color:blue;">
                    Ingredientes
                </td>

                <td style="color:blue;">
                    Procedimiento
                </td>

                <td style="color:blue;">
                    Tiempo
                </td>

                <td style="color:green;">
                    Imagen (Link)
                </td>

            </tr>

            {% for receta in recetas %}
            <tr>

                <td>
                    {{receta.titulo}}
                </td>

                <td>
                    {{receta.autor}}
                </td>

                <td>
                    {{receta.resumen}}
                </td>

                <td>
                    {{receta.ingredientes}}
                </td>

                <td>
                    {{receta.procedimiento}}
                </td>

                <td>
                    {{receta.tiempo}}
                </td>

                <td>
                    {{receta.imagen}}
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>