<html>

<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Crear una cuenta</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Sign.css" th:href="@{/css/index_Sign.css}">
    <link rel="shortcut icon" href="../static/img/logo.ico">

</head>


<body>
    <form method="POST">

        <div class="container">
            {% if confirm != None %}
            <div class="w3-panel w3-green">

                <p>{{confirm}}</p>
            </div> {% endif %} {% if error != None %}
            <div class="w3-panel w3-red">

                <p>{{error}}</p>
            </div>
            {% endif %}

            <h1 align="center">Crear una cuenta nueva de Administrador</h1>
            <p>Llena este formulario para crear la cuenta.</p>
            <hr>

            <label for="nombre"><b>Nombre</b></label>
            <input type="text" placeholder="Ingresar Nombre" name="nombre" id="nombre" required>

            <label for="apellido"><b>Apellido</b></label>
            <input type="text" placeholder="Ingresar apellido" name="apellido" id="apellido" required>

            <label for="usuario"><b>Usuario</b></label>
            <input type="text" placeholder="Ingresar Usuario" name="usuario" id="usuario" required>

            <label for="psw"><b>Contraseña</b></label>
            <input type="password" placeholder="Ingresar contraseña" name="psw" id="psw" required>

            <label for="psw-repeat"><b>Confirmacion de Contraseña</b></label>
            <input type="password" placeholder="Confirmar contraseña" name="psw-repeat" id="psw-repeat" required>
            <hr>

            <button type="submit" class="registrobtn">Registrarse</button>
            <div class="col-12 login">
                <a href="/Dashboard">Regresar al Dashboard</a>
            </div>
        </div>
    </form>
</body>

</html>